/* fonts & headings */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Krub:ital,wght@0,700;1,400&family=Quintessential&family=Redressed&family=Roboto:wght@300&display=swap');

body{
	background-color: rgb(248, 248, 243);
}

h1,
h2,
h3,
h4{
	font-family: 'Dancing Script', cursive;
	margin: 10px 0;
}

h1{
	font-size: 2.6em;
}
h2{
	font: size 3em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
}

@keyframes textAlpha{
	from{opacity: 0;}
	to{opacity: 1;}	
}

.textAlpha {
	animation-name: textAlpha;
	animation-duration: 5s;	
}
@keyframes textAlpha{
	from{opacity: 0;}
	to{opacity: 1;}	
}

.textAlpha2{
	animation-name: textAlpha;
	animation-duration: 10s;	
}

/*nav*/

#botonera{	
  margin-bottom: -45px;
}
  #botonera img{
	  width: 300px;
  }
	 
  #botonera li a{
	  font-size: 18px;
	  font-weight: 650;
	  
  }
/*footer*/
#footer{
	
}
.logFooter{
	width: 30px;
}
/*section*/
#section{
	background-color: rgb(241, 239, 237);
	
}
.sectionText{
	text-align: center;	
}

















